* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cairo';
  src: url(../fonts/Cairo/Cairo-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

body {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'Cairo', sans-serif;
  height: 3000px;
}

header.page-header {
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header.page-header.active {
  border-bottom: 2px solid #FF4C00;
}

header.page-header .navbar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header.page-header .navbar .brand {
  font-size: 2rem;
  color: #fff;
}

header.page-header .navbar .nav-list {
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header.page-header .navbar .nav-list .nav-item {
  display: inline-block;
}

header.page-header .navbar .nav-list .nav-item > a {
  padding: 12px 18px;
  border-radius: 0.8rem;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header.page-header .navbar .nav-list .nav-item > a:hover {
  background-color: #FF4C00;
}

header.page-header .navbar .nav-list.show {
  height: 242px;
}

@media screen and (max-width: 767px) {
  header.page-header .navbar .nav-list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
    border-bottom: 2px solid #FF4C00;
    height: 2px;
    overflow: hidden;
  }
  header.page-header .navbar .nav-list .nav-item {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

header.page-header .navbar .nav-btn {
  display: none;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header.page-header .navbar .nav-btn .line {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header.page-header .navbar .nav-btn .line:not(:last-of-type) {
  margin-bottom: 5px;
}

header.page-header .navbar .nav-btn.rotate {
  transform: rotate(180deg);
}

header.page-header .navbar .nav-btn.rotate .line:nth-of-type(1) {
  transform: translateY(8px) rotate(45deg);
}

header.page-header .navbar .nav-btn.rotate .line:nth-of-type(2) {
  opacity: 0;
}

header.page-header .navbar .nav-btn.rotate .line:nth-of-type(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 767px) {
  header.page-header .navbar .nav-btn {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  header.page-header.active {
    border-bottom: none;
  }
}
/*# sourceMappingURL=main.css.map */